# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
.sass-cache
npm-debug.log
assets/vendor/*
assets/css/main.css.map
assets/css/*main*.css
assets/scripts/*scripts*.js
assets/scripts/main.min.js
assets/scripts/main.js
assets/scripts/vendor/modernizr.min.js
assets/manifest.json
