
/* Buttons
================================================================ */

.button {

	/******************************************************************
	Basic Structure
	******************************************************************/

	background: $button-background;
	color: $button-color;
	display: inline-block;
	font-family: $button-font-family;
	font-size: $button-font-size;
	padding: 0 $button-padding;
	cursor: pointer;
	text-decoration: $button-text-decoration;
	text-transform: $button-text-transform;
	line-height: $button-line-height;
	&:hover {
		background: $button-hover-background;
		text-decoration: none;
	}

	/******************************************************************
	Size Variants
	******************************************************************/

	&.small {
		font-size: 0.8em;
	}

	&.large {
		font-size: 1.2em;
	}

	/******************************************************************
	Style Variants
	******************************************************************/

	&.border {
		background: none;
		border: 2px solid;
		color: $button-color;
		&:hover {
			background: transparent;
			border-color: currentColor;
			color: white;
		}
	}

	&.disabled {
		opacity: 0.6;
		cursor: default;
		transition-delay: 999s;
	}

	&.full-width {
		width: 100%;
		text-align: center;
		padding: 0.4em;
	}

	&.round {
		border-radius: 0.5em;
	}

	&.submit-button {
		padding: 0 1.3em;
	}


} // End .button

/* Makes input, button and .button elements equal height in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner
{
	border: 0;
	padding: 0;
	margin-top: 1px;
	margin-bottom: 1px;
}