
/* Footer
======================================================================= */

.app-footer {

	clear: both;
	background: $footer-background;
	color: $footer-text-color;
	margin: $footer-margin;
	padding: $footer-padding;
	text-align: center;

	/******************************************************************
	Start building the basic layout for lowest resoluton
	******************************************************************/

	.disclaimer {
		font-size: 8px;
	}

	.footer-nav {
		ul {
			@extend ul.reset;

			li {
				display: inline-block;
				&:not(:last-child) {
					margin-right: 1em;
				}
			}
		}
	}

	/******************************************************************
	Start building for larger resolutions
	******************************************************************/

	@media (min-width: $breakpoint-1) {

	}

	@media (min-width: $breakpoint-2) {
		.footer-wrapper {
			display: table;
			width: 100%;
			text-align: center;
		}
	}

	@media (min-width: $breakpoint-3) {
	}

	@media (min-width: $breakpoint-4) {
	}

} // End .app-footer