
/* Forms
================================================================ */

form {

	/******************************************************************
	Start building the basic layout for lowest resoluton
	******************************************************************/

	section {
		margin-bottom: 0.75em;
	}
	.box {
		max-width: 100%;
		background: $input-box-background;
		border: $input-box-border;
		font-family: $input-box-font-family;
		padding: 0.515em;
		transition: 0.4s;
		width: 100%;
		&:focus, &:hover {
			border: $input-box-hover-border;
		}

		&::-webkit-input-placeholder {
			background: $input-box-placeholder-background;
			color: $input-box-placeholder-color;
			font-family: $input-box-placeholder-font-family;
			text-align: $input-box-placeholder-text-align;
			text-transform: $input-box-placeholder-text-transform;
			letter-spacing: $input-box-placeholder-letter-spacing;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			background: $input-box-placeholder-background;
			color: $input-box-placeholder-color;
			font-family: $input-box-placeholder-font-family;
			text-align: $input-box-placeholder-text-align;
			text-transform: $input-box-placeholder-text-transform;
			letter-spacing: $input-box-placeholder-letter-spacing;
		}
		&:-ms-input-placeholder {
			background: $input-box-placeholder-background;
			color: $input-box-placeholder-color;
			font-family: $input-box-placeholder-font-family;
			text-align: $input-box-placeholder-text-align;
			text-transform: $input-box-placeholder-text-transform;
			letter-spacing: $input-box-placeholder-letter-spacing;
		}
		&:-moz-placeholder { /* Firefox 18- */
			background: $input-box-placeholder-background;
			color: $input-box-placeholder-color;
			font-family: $input-box-placeholder-font-family;
			text-align: $input-box-placeholder-text-align;
			text-transform: $input-box-placeholder-text-transform;
			letter-spacing: $input-box-placeholder-letter-spacing;
		}
	}
	label {
		display: inline-block;
	}
	input {
		border: none;
		display: block;
		transition: 0.4s;
		&[type="checkbox"],
		&[type="radio"] {
			display: inline;
		}
		&[type="submit"], button {
			background: $button-submit-background;
			border: none;
			color: white;
			padding: 0.25em 1em;
			display: inline-block;
			width: 100%;
		}
		&:required {
			box-shadow: none;
		}
	}
	select {
		color: $base-text-color;

		&.box {
			padding: 0.44em !important;
		}
	}

	/******************************************************************
	Start building for larger resolutions
	******************************************************************/

	@media (min-width: $breakpoint-3) {
		input {
			&[type="submit"], button {
				width: auto;
			}
		}
	}

	.submit-button {
		font-family: $font-2;
		text-transform: uppercase;
	}

	.input-group {
		@extend .clearfix;
	}

	.search-field {
		border: 0;
		float: left;

		@include placeholder {
			color: white;
		}

		+ .search-submit {
			background: transparent;
			padding: 0.1em 2em;
			line-height: 2.1;
			border: 0;
		}
	}

} // End form