
/* Header
================================================================ */

.app-header {

	background: $app-header-background;


	/******************************************************************
	Start building the basic layout for lowest resoluton
	******************************************************************/

	.info-wrapper {
		display: table;
		width: 100%;
		text-align: right;
		padding-right: 1.15em;

		address {
			display: inline-block;
			padding-right: 0.44em;
		}

		.phone-number {
			font-size: 2rem;
			line-height: 1;
		}

		.lease-online {
			margin: 0 0.44em;
		}

		.info-social {
			display: inline-block;
		}

		.fa-stack {
			transition: all 0.5s ease;
			.fa-circle {
				color: $brand-1;
			}
			.fa-facebook {
				color: $white;
			}
			&:hover .fa-circle {
				color: $brand-2;
			}
		}
	}


	/******************************************************************
	Start building for larger resolutions
	******************************************************************/
	@media (max-width: $breakpoint-1) {
	}

	@media (min-width: $breakpoint-1) {
	}

	@media (max-width: $breakpoint-3) {
	}

	@media (min-width: $breakpoint-3) {
		.header-wrapper {
			display: table;
			width: 100%;
		}

		.logo, .main-nav {
			display: table-cell;
			vertical-align: middle;
		}
	}

} // End .app-header