
/* Jumbotron
================================================================ */

.jumbotron {
	border-top: 5px solid $brand-2;
	border-bottom: 5px solid $brand-3;
	color: $white;
	position: relative;
	text-align: center;

	/******************************************************************
	Start building the basic layout for lowest resoluton
	******************************************************************/
	&, > img { width: 100%; vertical-align: middle; }

	> .container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: table;
		width: 100%;
		max-width: $main-width;
		padding: 0 1em;

		@-moz-document url-prefix() {
			top: 50%;
			transform: translateY(-50%);
		}
	}


} /* End .jumbotron */
