
/* Logo
======================================================================= */

.logo {
	position: relative;
	display: block;
	width: 100%;

	/* Build base for plain text logos */
	.logo-name {
		color: $logo-name-color !important;
		display: inline-block;
		font-family: $logo-name-font-family;
		letter-spacing: $logo-name-letter-spacing;
		text-transform: $logo-name-text-transform;
		margin: $logo-name-margin;
		padding: $logo-name-padding;

		&:hover {
			text-decoration: none;
		}
	}

	/* Build base for image logos */
	.logo-image {

		img {
			border: $logo-image-border;
			display: inline-block;
			vertical-align: bottom;
			padding: 10px 0;
		}
	}

	/******************************************************************
	Start building for larger resolutions
	******************************************************************/

	@media (max-width: $breakpoint-1) {
		.logo-image img {
			margin-top: 7em;
		}
	}

	@media (min-width: $breakpoint-1) {

	}

	@media (max-width: $breakpoint-3) {
		text-align: center
	}

} // End .logo