
/* Main Navigation
================================================================ */

.main-nav {

	background: $main-nav-background;

	/******************************************************************
	Start building the basic layout for lowest resoluton
	******************************************************************/

	ul {
		@extend ul.reset;
		display: none;
		font-size: 0;
		li {
			@import "dropdown-nav";
			ul {
				padding-left: 2em;
			}

			&.active a,
			&:hover  a {
				background: $main-nav-link-hover-background;
				color: $main-nav-link-hover-color;
				text-decoration: underline;
			}

			a { // change height of nav items using line-height, pad sides
				background: $main-nav-link-background;
				display: block;
				font-family: $main-nav-font-family;
				font-size: $main-nav-font-size;
				letter-spacing: $main-nav-letter-spacing;
				line-height: $main-nav-line-height;
				padding: $main-nav-padding;
				text-decoration: $main-nav-text-decoration;
				text-transform: $main-nav-text-transform;
			}
		}
	}

	/******************************************************************
	Start building for larger resolutions
	******************************************************************/

	@media (min-width: $breakpoint-3) {
		text-align: right;
		ul {
			white-space: nowrap;
			li {
				display: inline-block;
				position: relative;
			}
		}
		> ul {
			display: block;

		}
	}

	@media (max-width: $breakpoint-4 - 100) {
		ul li a {
			padding: 0 0.5em;
		}
	}

} // End .main-nav