
/* Pointer Box
================================================================ */

.pointer-box {

	background: $brand-3;
	position: relative;
	text-align: center;
	padding: 1em;
	width: 200px;

	.title {
		margin: 0;
	}

	a:first-child {
		margin-right: 10px;
	}

	.directions {
		
	}

	.btn-close {
		color: $white;
		position: absolute;
		top: -1.5em;
		right: 0;
		font-weight: bold;
		text-transform: uppercase;
	}

} /* End .pointer-box */