// Badges
span.badge {
	min-width: 3rem;
	padding: 0 6px;
	text-align: center;
	font-size: 1rem;
	line-height: inherit;
	color: color('grey', 'darken-1');
	float: right;
	@include box-sizing(border-box);

	&.new {
		font-weight: 300;
		font-size: 0.8rem;
		color: #fff;
		background-color: color('blue', 'base');
		@include border-radius(2px);
	}
	&.new:after {
		content: " new";
	}
}
