.icon-gfx_location_caffeine {
  background-image: url(../images/sprite.png);
  background-position: -119px 0px;
  width: 171px;
  height: 82px;
}
.icon-gfx_location_caffeine_over {
  background-image: url(../images/sprite.png);
  background-position: 0px -127px;
  width: 173px;
  height: 82px;
}
.icon-gfx_location_dine {
  background-image: url(../images/sprite.png);
  background-position: -291px 0px;
  width: 95px;
  height: 62px;
}
.icon-gfx_location_dine_over {
  background-image: url(../images/sprite.png);
  background-position: -105px -210px;
  width: 96px;
  height: 63px;
}
.icon-gfx_location_excite {
  background-image: url(../images/sprite.png);
  background-position: -125px -289px;
  width: 124px;
  height: 58px;
}
.icon-gfx_location_excite_over {
  background-image: url(../images/sprite.png);
  background-position: 0px -289px;
  width: 124px;
  height: 58px;
}
.icon-gfx_location_getdirections {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 118px;
  height: 126px;
}
.icon-gfx_location_return {
  background-image: url(../images/sprite.png);
  background-position: -387px -77px;
  width: 29px;
  height: 29px;
}
.icon-gfx_location_shop {
  background-image: url(../images/sprite.png);
  background-position: 0px -210px;
  width: 104px;
  height: 78px;
}
.icon-gfx_location_shop_over {
  background-image: url(../images/sprite.png);
  background-position: -174px -127px;
  width: 106px;
  height: 80px;
}
.icon-gfx_location_zoomin {
  background-image: url(../images/sprite.png);
  background-position: -503px -41px;
  width: 32px;
  height: 32px;
}
.icon-gfx_location_zoomout {
  background-image: url(../images/sprite.png);
  background-position: -511px -77px;
  width: 30px;
  height: 17px;
}
.icon-icon_footer_ada {
  background-image: url(../images/sprite.png);
  background-position: -536px -41px;
  width: 29px;
  height: 32px;
}
.icon-icon_footer_eho {
  background-image: url(../images/sprite.png);
  background-position: -471px -41px;
  width: 31px;
  height: 33px;
}
.icon-icon_footer_petfriendly {
  background-image: url(../images/sprite.png);
  background-position: -417px -77px;
  width: 93px;
  height: 27px;
}
.icon-logo_footer_greystar {
  background-image: url(../images/sprite.png);
  background-position: -387px 0px;
  width: 178px;
  height: 40px;
}
.icon-logo_footer_mmc {
  background-image: url(../images/sprite.png);
  background-position: -387px -41px;
  width: 83px;
  height: 35px;
}
