
/* Variables
================================================================ */

/******************************************************************
Skeleton
******************************************************************/

$main-width:	1200px;
$max-width:		90%;

$columns:	12;
$gutter: 	2.5%;

/******************************************************************
Breakpoints
******************************************************************/

$breakpoint-0:	0px;
$breakpoint-1:	460px;
$breakpoint-2:	720px;
$breakpoint-3:	940px;
$breakpoint-4:	1200px;
$breakpoint-5:	1400px;

$bp-values:	$breakpoint-0, $breakpoint-1, $breakpoint-2, $breakpoint-3, $breakpoint-4, $breakpoint-5;
$bp-names:	bp0, bp1, bp2, bp3, bp4, bp5;

/******************************************************************
Typography
******************************************************************/

/* Fonts */

$font-1: 'Pacifico', cursive;
$font-2: 'Raleway', sans-serif;
$font-3: 'Roboto', sans-serif;

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;

/* Font Sizes */

$base-font-size:		1.1rem;
$large-font-size:	1.3rem;
$small-font-size:	$base-font-size * 0.70;

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts"; // for referencing Bootstrap CDN font files directly


/******************************************************************
Color Palette
******************************************************************/

/* Greyscale Colors */

$white: 	#ffffff;
$dark-white:	#f1f1f1;
$light-grey:	#b1b1b1;
$grey:		#707070;
$dark-grey:	#111111;
$black:		#000000;

$greyscale-colors :     $white, $light-grey, $grey, $dark-grey, $black;
$greyscale-names  :     white, light-grey, grey, dark-grey, black;

/* Branding Colors */

$brand-1: 	#138e90; // Green
$brand-2: 	#f97b01; // Orange
$brand-3: 	#ffc600; // Yellow
$brand-4: 	#8a8c8f; // Gray
$brand-5: 	#6b3500; // Brown

$brand-colors:     $brand-1, $brand-2, $brand-3, $brand-4, $brand-5;
$brand-names:     brand-1, brand-2, brand-3, brand-4, brand-5;

/* Alert Box Colors */

$alert-yellow:	#e7d16c;
$alert-red:	#CB8888;
$alert-green:	#9cc079;
$alert-blue:	#79a9c0;

/* Emotional Colors */

$help:		#e7d16c;
$danger:	#CB8888;
$success:	#9cc079;
$info:		#79a9c0;

$emotional-colors:	$help, $danger, $success, $info;
$emotional-names:	help, danger, success, info;

/* Social Media Colors */

$facebook: 	#3b5998;
$twitter: 	#55acee;
$linkedin: 	#0976b4;
$instagram: 	$dark-grey;
$pinterest: 	$dark-grey;

$social-colors : 	$facebook, $twitter, $linkedin, $instagram, $pinterest;
$social-names: 	facebook, twitter, linkedin, instagram, pinterest;


/******************************************************************
Base Theme
******************************************************************/

/* base */
$base-margin:       			1.5rem;
$base-padding:      			1em;
$base-background:   			$brand-3;
$base-text-color:           		$dark-grey;
$base-link-color:			$brand-3;
$base-selection-text-color:             	$white;
$base-selection-background-color:	$brand-3;

/* body */
$body-background: 	$white;
$body-font-family: 	$font-2;
$body-font-size: 	$base-font-size;
$body-line-height: 	1.4;
$body-text-color: 	$dark-grey;

/* wrapper */
$wrapper-background: 	transparent;
$wrapper-container: 		1200;
$wrapper-padding: 		1em 0 0;

/* app-header */
$app-header-background: 	transparent;
$app-header-height: 		auto;
$app-header-width: 		auto;

/* logo */
$logo-name-color: 		$black;
$logo-name-font-family: 	$font-2;
$logo-name-letter-spacing:	1px;
$logo-name-margin: 		auto;
$logo-name-padding: 		1em;
$logo-name-text-transform: 	normal;

$logo-image-border: none;
$logo-image-height: auto;
$logo-image-width: auto;

/* main-nav*/
$main-nav-background: 		transparent;
$main-nav-font-family: 			$font-3;
$main-nav-font-size: 			1rem;
$main-nav-letter-spacing: 		0.05em;
$main-nav-text-decoration: 		none;
$main-nav-text-transform: 		uppercase;

$main-nav-link-background: 		transparent;
$main-nav-link-hover-background: 	transparent;
$main-nav-link-hover-color: 		darken($brand-4, 15%);
$main-nav-line-height: 			3.2em;
$main-nav-padding: 			0 1.5em;

/* address */
$address-color: 				$grey;
$address-font-family: 			$font-3;
$address-font-size: 			$large-font-size;

/* phone-number */
$phone-number-color: 			$brand-2;
$phone-number-font: 			$font-3;
$phone-number-font-size:		$large-font-size;

/* nav-trigger */
$nav-trigger-background: 		$brand-1;
$nav-trigger-color: 			$white;
$nav-trigger-hover-background: 	$brand-2;
$nav-trigger-font-family: 		$font-1;
$nav-trigger-font-size: 			1.6rem;
$nav-trigger-height:  			1.25em;
$nav-trigger-width: 			auto;
$nav-trigger-padding: 			0 1em;

/* off canvas nav */
$off-canvas-background-color: 		$brand-1;
$off-canvas-background-hover: 	$brand-3;
$off-canvas-background-tint: 		#000;
$off-canvas-border-color: 		$brand-3;

/* main-content */
$main-content-width: 		8/12;
$main-content-margin: 		0 0 1.5em;
$main-content-padding: 		2em 1em;

/* sidebar */
$sidebar-width: 		4/12;

/* jumbotron */
$jumbotron-background: 		transparent;
$jumbotron-border: 			none;
$jumbotron-color: 			$white;
$jumbotron-heading-color: 	$white;
$jumbotron-padding: 		2em;
$jumbotron-text-align: 		center;

/* pointer-box */
$pointer-box-background: 	$dark-white;
$pointer-box-width:			200px;
$pointer-box-btn-close: 	$white;

/* scroll-top */
$scroll-top-color:			$brand-1;
$scroll-top-hover-color:	$brand-2;

/* heading */
$heading-line-height:			1;
$heading-font-family: 			$font-1;
$heading-highlight-background: 	$brand-3;
$heading-style-color: 			$brand-1;
$heading-text-transform: 		normal;

/* button */
$button-background: 		$brand-1;
$button-border-color: 		$brand-1;
$button-color: 			$white;
$button-font-family: 		$font-3;
$button-font-size: 		1rem;
$button-letter-spacing: 	1;
$button-line-height: 		1.5;
$button-padding: 		1.2em;
$button-text-decoration: 	none;
$button-text-transform: 	uppercase;


/* input.box */
$input-box-background: 		$white;
$input-box-border: 			3px solid transparent;
$input-box-color: 			$light-grey;
$input-box-font-family: 	$font-2;
$input-box-padding: 		0.5em;
$input-box-margin: 			0;
$input-box-hover-border: 	3px solid transparent;

$input-box-placeholder-background: 		transparent;
$input-box-placeholder-color: 			$white;
$input-box-placeholder-font-family: 	$font-2;
$input-box-placeholder-text-align: 		left;
$input-box-placeholder-text-transform: 	capitalize;
$input-box-placeholder-letter-spacing: 	0.1em;

/* footer */
$footer-background: 	$black;
$footer-border: 		0;
$footer-text-color: 	$grey;
$footer-margin: 		0;
$footer-padding: 		$base-padding;

$footer-nav-color: 		$white;
$footer-nav-font-size: 	$small-font-size;
$footer-nav-margin: 	0;
$footer-nav-padding: 	$base-padding;