.project {

	box-shadow: none;
	position: relative;

	> a {		
		display: table;
		width: 100%;
		position: relative;
		text-align: center;

		img {
			vertical-align: bottom;
		}

		&:hover {
			&:after {
				content: '';
				height: 100%;
				width: 100%;
				background: rgba(#000, 0.6);
				display: block;
				position: absolute;
				top: 0;
			}
		}
	}

	.project-title {
		padding: 0.8em 0;
	}
}